<div class="page" data-name="configuracion">

  <img  class="logobackground"  src="../img/imageedit_1_5898977722logo.png" >

  <div class="page-content">

    <div class="topbar">
        <div class="home back">
          <a href="/home/">
          <i class="f7-icons"  style="font-size: 35px;">left</i></a>
        </div>

        <div class="top nombre">
          <span>Configuración</span>
        </div>
        <div class="top menu">
          <a href="" onClick="showMenu()">
          <i class="f7-icons"  style="font-size: 40px;">bars</i></a>
        </div>
    </div>
<!-- COMBAK: top bar fin --><!-- COMBAK: top bar fin --><!-- COMBAK: top bar fin -->

<div class="config section">

  <div class="list" style="background:none;">
<ul style="background:none;">

<li>
<a href="/configuracion_general/" class="item-link item-content">
  <div class="item-media"><i class="f7-icons"  style="font-size: 40px;">person</i></div>
  <div class="item-inner">
    <div class="item-title">
        Información General
    </div>
    <div class="item-after texto">Ir</div>
  </div>
</a>
</li>

<li>
<a href="/configuracion_correo/" class="item-link item-content">
  <div class="item-media"><i class="f7-icons"  style="font-size: 40px;">at</i></div>
  <div class="item-inner">
    <div class="item-title">
        Correo y Contraseña
    </div>
    <div class="item-after texto">Ir</div>
  </div>
</a>
</li>

<li>
<a href="/configuracion_notificaciones/" class="item-link item-content">
  <div class="item-media"><i class="f7-icons"  style="font-size: 40px;">bell</i></div>
  <div class="item-inner">
    <div class="item-title">
        Notificaciones
    </div>
    <div class="item-after texto">Ir</div>
  </div>
</a>
</li>


</ul>
</div>

</div>

  </div>
</div>
