<div class="page" data-name="configuracion_general">

  <img  class="logobackground"  src="../img/imageedit_1_5898977722logo.png" >

  <div class="page-content">

    <div class="topbar">
        <div class="home back">
          <a href="/configuracion/">
          <i class="f7-icons"  style="font-size: 35px;">left</i></a>
        </div>

        <div class="top nombre">
          <span>General</span>
        </div>
        <div class="top menu">
          <a href="" onClick="showMenu()">
          <i class="f7-icons"  style="font-size: 40px;">bars</i></a>
        </div>
    </div>
<!-- COMBAK: top bar fin --><!-- COMBAK: top bar fin --><!-- COMBAK: top bar fin -->

  <div class="section">

    <div class="config-general">


    <div class="titulo"> Nombre </div>
      <div class="row">
          <input type="text" name="" value="">
      </div>

      <div class="titulo"> Telefono local </div>
        <div class="row">
            <input type="text" name="" value="">
        </div>

        <div class="titulo"> Celular </div>
          <div class="row">
              <input type="text" name="" value="">
          </div>

          <div class="titulo"> Dirección </div>
            <div class="row">
                <input type="text" name="" value="">
            </div>

            <div class="titulo"> Ciudad </div>
              <div class="row">
                  <input type="text" name="" value="">
              </div>

    <div class="boton">
        <button class="texto"  onclick=""> Guardar Cambios </button>
    </div>

  </div>

  </div>


  </div>
</div>
