<div class="page" data-name="configuracion_notificaciones">

  <img  class="logobackground"  src="../img/imageedit_1_5898977722logo.png" >

  <div class="page-content">

    <div class="topbar">
        <div class="home back">
          <a href="/configuracion/">
          <i class="f7-icons"  style="font-size: 35px;">left</i></a>
        </div>

        <div class="top nombre">
          <span>Notificaciones</span>
        </div>
        <div class="top menu">
          <a href="" onClick="showMenu()">
          <i class="f7-icons"  style="font-size: 40px;">bars</i></a>
        </div>
    </div>
<!-- COMBAK: top bar fin --><!-- COMBAK: top bar fin --><!-- COMBAK: top bar fin -->

<div class="section">

  <div class="list">
    <ul>
      <li>
        <div class="item-content">
          <div class="item-media"><i class="f7-icons"  style="font-size: 40px;">bell</i></div>
          <div class="item-inner">
            <div class="item-title">Cambios en mi cuenta</div>
            <div class="item-after">
              <label class="toggle">
              <input type="checkbox" name="switch" value="yes"><i class="toggle-icon"></i>
            </label>
              </div>
          </div>
        </div>
      </li>

      <li>
        <div class="item-content">
          <div class="item-media"><i class="f7-icons"  style="font-size: 40px;">bell</i></div>
          <div class="item-inner">
            <div class="item-title">Resultados Nuevos</div>
            <div class="item-after">
              <label class="toggle">
              <input type="checkbox" name="switch" value="yes"><i class="toggle-icon"></i>
            </label>
              </div>
          </div>
        </div>
      </li>

      <li>
        <div class="item-content">
          <div class="item-media"><i class="f7-icons"  style="font-size: 40px;">bell</i></div>
          <div class="item-inner">
            <div class="item-title">Promociones</div>
            <div class="item-after">
              <label class="toggle">
              <input type="checkbox" name="switch" value="yes"><i class="toggle-icon"></i>
            </label>
              </div>
          </div>
        </div>
      </li>

    </ul>
  </div>

  <div class="config-correo boton" style="margin-top: 200px;">
      <button class="index iniciarsesion texto"  onclick=""> Guardar Cambios </button>
  </div>

</div>


  </div>
</div>
