<div class="page" data-name="contacto">

  <img  class="logobackground"  src="../img/imageedit_1_5898977722logo.png" >

  <div class="page-content">

    <div class="topbar">
        <div class="home back">
          <a href="/home/">
          <i class="f7-icons"  style="font-size: 35px;">left</i></a>
        </div>

        <div class="top nombre">
          <span>Contacto</span>
        </div>
        <div class="top menu">
          <a href="" onClick="showMenu()">
          <i class="f7-icons"  style="font-size: 40px;">bars</i></a>
        </div>
    </div>
<!-- COMBAK: top bar fin --><!-- COMBAK: top bar fin --><!-- COMBAK: top bar fin -->

    <div class="section">

        <div class="contacto">

            <div class="contacto-general">
                <div class="informacion texto">
                  <span class="bold">DIA</span>
                  <span>PRIV 11 B SUR 2343</span>
                  <span>AGUA AZUL PUEBLA PUE.</span>
                  <span>22 25 20 84 69</span>
                  <span>dia@dia.com</span>
                </div>
            </div>

            <div class="titulo"> Asunto </div>
            <div class="row">
              <input type="text"  id="asunto" name="" value="">
            </div>

            <div class="titulo"> Mensaje </div>
            <div class="row" style="height:200px;">
              <textarea id="mensaje" name="" rows="8" cols="80"> </textarea>
            </div>

            <div class="boton">
                <button class="texto"  onclick="app.RegistrarComentario()"> Enviar Mensaje </button>
            </div>

        </div>

    </div>



  </div>
</div>
