<div class="page" data-name="home">
  <div class="page-content">

  <!-- COMBAK:   <img  class="logobackground"  src="../img/imageedit_1_5898977722logo.png" > -->

    <div class="topbar">
        <div class="home name texto">
            <span> Hola Angel </span>
        </div>
        <div class="top menu">
          <a href="" onClick="showMenu()">
          <i class="f7-icons"  style="font-size: 40px;">bars</i></a>
        </div>
    </div>

    <div class="home perfil">
      <div class="home foto">
          <i class="f7-icons"  style="font-size: 80px;">person</i>
      </div>
      <div class="home info">

        <div class="home info texto" style="margin-top:20px;">Angel Emilio Garcia Munguia</div>
        <div class="home info texto">angel.garcia12@anahuac.mx</div>
        <div class="home info texto">222 520 8469</div>

      </div>

    </div>

    <div class="home recientes texto">
      <span>RECIENTES</span>
    </div>

    <div class="home pruebas">
      <div class="list media-list" style="background:none;">
<ul style="background:none;">
<li>
  <div class="item-content texto">
    <div class="item-media"><i class="f7-icons"  style="font-size: 40px;">document_text</i></div>
    <div class="item-inner">
      <div class="item-title-row">
        <div class="item-title">Yellow Submarine</div>
      </div>
      <div class="item-subtitle">Beatles</div>
    </div>
  </div>
</li>
<li>
  <a href="#" class="item-link item-content texto">
    <div class="item-media"><i class="f7-icons"  style="font-size: 40px;">document_text</i></div>
    <div class="item-inner">
      <div class="item-title-row">
        <div class="item-title">Don't Stop Me Now</div>
      </div>
      <div class="item-subtitle">Queen</div>
    </div>
  </a>
</li>
<li>
  <div class="item-content texto">
    <div class="item-media"><i class="f7-icons"  style="font-size: 40px;">document_text</i></div>
    <div class="item-inner">
      <div class="item-title-row">
        <div class="item-title">Billie Jean</div>
      </div>
      <div class="item-subtitle">Michael Jackson</div>
    </div>
  </div>
  <div class="item-content texto">
    <div class="item-media"><i class="f7-icons"  style="font-size: 40px;">document_text</i></div>
    <div class="item-inner">
      <div class="item-title-row">
        <div class="item-title">Billie Jean</div>
      </div>
      <div class="item-subtitle">Michael Jackson</div>
    </div>
  </div>
  <div class="item-content texto">
    <div class="item-media"><i class="f7-icons"  style="font-size: 40px;">document_text</i></div>
    <div class="item-inner">
      <div class="item-title-row">
        <div class="item-title">Billie Jean</div>
      </div>
      <div class="item-subtitle">Michael Jackson</div>
    </div>
  </div>
  <div class="item-content texto">
    <div class="item-media"><i class="f7-icons"  style="font-size: 40px;">document_text</i></div>
    <div class="item-inner">
      <div class="item-title-row">
        <div class="item-title">Billie Jean</div>
      </div>
      <div class="item-subtitle">Michael Jackson</div>
    </div>
  </div>
  <div class="item-content texto">
    <div class="item-media"><i class="f7-icons"  style="font-size: 40px;">document_text</i></div>
    <div class="item-inner">
      <div class="item-title-row">
        <div class="item-title">Billie Jean</div>
      </div>
      <div class="item-subtitle">Michael Jackson</div>
    </div>
  </div>
</li>
</ul>
</div>
    </div>

  </div>
</div>
