<div class="page" data-name="home">
  <div class="page-content">

  <!-- COMBAK:   <img  class="logobackground"  src="../img/imageedit_1_5898977722logo.png" > -->

    <div class="topbar">
        <div class="home name texto" id="bienvenida">
            
        </div>
        <div class="top menu">
          <a href="" onClick="showMenu()">
          <i class="f7-icons"  style="font-size: 40px;">bars</i></a>
        </div>
    </div>

    <div class="home perfil">
      <div class="home foto">
          <i class="f7-icons"  style="font-size: 80px;">person</i>
      </div>
      <div class="home info" id="home-info">

      </div>

    </div>

    <div class="home recientes texto">
      <span>RECIENTES</span>
    </div>

    <div class="home pruebas">
      <div class="list" style="background:none;">
<ul style="background:none;" id="estudios-home">




</ul>
</div>
    </div>

  </div>
</div>
