<div class="page" data-name="pedidos">

  <img  class="logobackground"  src="../img/imageedit_1_5898977722logo.png" >

  <div class="page-content">

    <div class="topbar">
        <div class="home back">
          <a href="/home/">
          <i class="f7-icons"  style="font-size: 35px;">left</i></a>
        </div>

        <div class="top nombre">
          <span>Pedidos</span>
        </div>
        <div class="top menu">
          <a href="" onClick="showMenu()">
          <i class="f7-icons"  style="font-size: 40px;">bars</i></a>
        </div>
    </div>
<!-- COMBAK: top bar fin --><!-- COMBAK: top bar fin --><!-- COMBAK: top bar fin -->




  </div>
</div>
