<div class="page" data-name="resultados_fecha">

  <img  class="logobackground"  src="../img/imageedit_1_5898977722logo.png" >

  <div class="page-content">

    <div class="topbar">
      <a href="/home/"><div class="home back">
          <i class="f7-icons"  style="font-size: 35px;">left</i>
        </div></a>

        <div class="top nombre texto">
          <span>Resultados</span>
        </div>
        <div class="top menu">
          <a href="" onClick="showMenu()">
          <i class="f7-icons"  style="font-size: 40px;">bars</i></a>
        </div>
    </div>
<!-- COMBAK: top bar fin --><!-- COMBAK: top bar fin --><!-- COMBAK: top bar fin -->


    <div class="rfechas section">

        <div class="rfechas rango">
            "Aug 14 2018 - Aug 20 2018"
        </div>


        <div class="list">
  <ul style="background:none;">

    <li>
      <a href="/resultados_view/" class="item-link item-content">
        <div class="item-media"><i class="f7-icons"  style="font-size: 40px;">info</i></div>
        <div class="item-inner">
          <div class="item-title">
            <div class="item-header texto">Citopatologico</div>
              Angel Garcia Munguia
            <div class="item-footer texto">27/02/18</div>
          </div>
          <div class="item-after texto">Ver</div>
        </div>
      </a>
    </li>

    <li>
      <a href="#" class="item-link item-content">
        <div class="item-media"><i class="f7-icons"  style="font-size: 40px;">info</i></div>
        <div class="item-inner">
          <div class="item-title">
            <div class="item-header texto">Citopatologico</div>
              Angel Garcia Munguia
            <div class="item-footer texto">27/02/18</div>
          </div>
          <div class="item-after texto">Ver</div>
        </div>
      </a>
    </li>



  </ul>
</div>

        <div class="rfechas encontrados">

        </div>


    </div>




  </div>
</div>
