<div class="page" data-name="resultados_nombre">

  <img  class="logobackground"  src="../img/imageedit_1_5898977722logo.png" >

  <div class="page-content">

    <div class="topbar">
      <a href="/resultados/"><div class="home back">
          <i class="f7-icons"  style="font-size: 35px;">left</i>
        </div></a>

        <div class="top nombre texto">
          <span>Resultados</span>
        </div>
        <div class="top menu">
          <a href="" onClick="showMenu()">
          <i class="f7-icons"  style="font-size: 40px;">bars</i></a>
        </div>
    </div>
<!-- COMBAK: top bar fin --><!-- COMBAK: top bar fin --><!-- COMBAK: top bar fin -->

<div class="rfechas section">

    <div class="rfechas rango" id="busqueda">

    </div>


    <div class="list">
<ul style="background:none;" id="resultados-nombre">

</ul>

</div>

    <div class="rfechas encontrados">

    </div>


</div>





  </div>
</div>
